body {height: 700px;
width: 200px;}

.logo {justify-items: center;
position: relative;
}

.menup {background-color: palevioletred;
    text-decoration-color: white;
   width:1829px;
   text-align: left;
   height: 55px;
}


.opciones {text-decoration:none;
    color: white;
    text-align: left;
}

.textome {position: absolute;
    top: 11.5%;
    right: 70%;
    text-decoration: none;
    gap:;
}

.cuerpo{ width:;
height: 500px; display: grid;}
.intro {border: 2px solis black  ;
    left: 0%
;}

h2 {text-decoration-color: blue;}
.imgt {width: 400px;}

.lectu {position: absolute;
right:45% ;
top: 19.5%;
height: 100px;
width: 380px;}

.lados {width: 1000px;
height: 300px;}

.lectu2 {height: 100px;
width: 380px;
position: absolute;
top: 65%;
right: 45%;}

.Lados3 {position: relative;
top%;}

.boton {position:absolute;
top: 52%;
left: 2%;
width: 70px;
height: 40px;
color: aqua;
border: blue solid 1px;
background-color: blue;
width: 200px;
}


